In [1]:
cd pycharm workspace

[WinError 2] The system cannot find the file specified: 'pycharm workspace'
D:\pycharm workspace

In [96]:
import pandas
a=pandas.read_json("095 supermarkets.json")

In [99]:
a=a.set_index("ID")

In [100]:
a

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
2,735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [35]:
a.loc["1":"4", "Address":"Country"]

           Address           City Country
ID
1     3666 21st St  San Francisco     USA
2   735 Dolores St  San Francisco     USA
3      332 Hill St  San Francisco     USA
4     3995 23rd St  San Francisco     USA

In [37]:
a.iloc[1:4,1:5]

             City Country  Employees         Name
ID
2   San Francisco     USA         15  Bready Shop
3   San Francisco     USA         25  Super River
4   San Francisco     USA         10   Ben's Shop

In [49]:
a.ix[1,3]

d:\python extracted files\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

8

In [52]:
a.drop("City",1)

            Address Country  Employees         Name             State
ID
1      3666 21st St     USA          8      Madeira          CA 94114
2    735 Dolores St     USA         15  Bready Shop          CA 94119
3       332 Hill St     USA         25  Super River  California 94114
4      3995 23rd St     USA         10   Ben's Shop          CA 94114
5   1056 Sanchez St     USA         12      Sanchez        California
6   551 Alvarado St     USA         20   Richvalley          CA 94114

In [56]:
a.drop(2,0)

,Address,City,Country,Employees,Name,State
ID,,,,,,
1,3666 21st St,San Francisco,USA,8,Madeira,CA 94114
3,332 Hill St,San Francisco,USA,25,Super River,California 94114
4,3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
5,1056 Sanchez St,San Francisco,USA,12,Sanchez,California
6,551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [57]:
a=a.set_index("Address")

In [58]:
a

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,Sanchez,California
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [60]:
a.drop("1056 Sanchez St", 0)

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [61]:
a

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,Sanchez,California
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [63]:
a=a.set_index("Country")

In [64]:
a

                  City  Employees         Name             State
Country
USA      San Francisco          8      Madeira          CA 94114
USA      San Francisco         15  Bready Shop          CA 94119
USA      San Francisco         25  Super River  California 94114
USA      San Francisco         10   Ben's Shop          CA 94114
USA      San Francisco         12      Sanchez        California
USA      San Francisco         20   Richvalley          CA 94114

In [66]:
a.drop("USA", 0)

Empty DataFrame
Columns: [City, Employees, Name, State]
Index: []

In [69]:
a

                  City  Employees         Name             State
Country
USA      San Francisco          8      Madeira          CA 94114
USA      San Francisco         15  Bready Shop          CA 94119
USA      San Francisco         25  Super River  California 94114
USA      San Francisco         10   Ben's Shop          CA 94114
USA      San Francisco         12      Sanchez        California
USA      San Francisco         20   Richvalley          CA 94114

In [70]:
a.shape[1]

4

In [71]:
a=a.set_index("ID")

KeyError: 'ID'

In [72]:
a=pandas.read_json("095 supermarkets.json")

In [73]:
a

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [76]:
a["RELIGION"] = a.shape[0]*["humanity"]

In [77]:
a

,Address,City,Country,Employees,ID,Name,State,RELIGION
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,humanity
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,humanity
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,humanity
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,humanity
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,humanity
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,humanity

In [85]:
a["RELIGION"]=pandas._get_loc(0)* ["hindu"]

AttributeError: module 'pandas' has no attribute '_get_loc'

In [80]:
type(a.shape[0])

int

In [86]:
a_t=a.T

In [87]:
a_t

,0,1,2,3,4,5
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco
Country,USA,USA,USA,USA,USA,USA
Employees,8,15,25,10,12,20
ID,1,2,3,4,5,6
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114
RELIGION,humanity,humanity,humanity,humanity,humanity,humanity

In [88]:
a_t[6]= ["a","b","c",4,5,"d", "r","z"]
a_t

,0,1,2,3,4,5,6
Address,3666 21st St,735 Dolores St,332 Hill St,3995 23rd St,1056 Sanchez St,551 Alvarado St,a
City,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,San Francisco,b
Country,USA,USA,USA,USA,USA,USA,c
Employees,8,15,25,10,12,20,4
ID,1,2,3,4,5,6,5
Name,Madeira,Bready Shop,Super River,Ben's Shop,Sanchez,Richvalley,d
State,CA 94114,CA 94119,California 94114,CA 94114,California,CA 94114,r
RELIGION,humanity,humanity,humanity,humanity,humanity,humanity,z

In [89]:
a=a_t.T

In [90]:
a

,Address,City,Country,Employees,ID,Name,State,RELIGION
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114,humanity
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119,humanity
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114,humanity
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114,humanity
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California,humanity
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114,humanity
6,a,b,c,4,5,d,r,z

In [91]:
a["Country"]=["","","","usa","<","",""]

In [92]:
a

,Address,City,Country,Employees,ID,Name,State,RELIGION
0,3666 21st St,San Francisco,,8,1,Madeira,CA 94114,humanity
1,735 Dolores St,San Francisco,,15,2,Bready Shop,CA 94119,humanity
2,332 Hill St,San Francisco,,25,3,Super River,California 94114,humanity
3,3995 23rd St,San Francisco,usa,10,4,Ben's Shop,CA 94114,humanity
4,1056 Sanchez St,San Francisco,<,12,5,Sanchez,California,humanity
5,551 Alvarado St,San Francisco,,20,6,Richvalley,CA 94114,humanity
6,a,b,,4,5,d,r,z

In [101]:
a=a.set_index("Address")

In [102]:

a

,City,Country,Employees,Name,State
Address,,,,,
3666 21st St,San Francisco,USA,8,Madeira,CA 94114
735 Dolores St,San Francisco,USA,15,Bready Shop,CA 94119
332 Hill St,San Francisco,USA,25,Super River,California 94114
3995 23rd St,San Francisco,USA,10,Ben's Shop,CA 94114
1056 Sanchez St,San Francisco,USA,12,Sanchez,California
551 Alvarado St,San Francisco,USA,20,Richvalley,CA 94114

In [104]:
a["RELIGION"] = a.shape[0]*["humanity"]

In [109]:
a=a.set_index("ID")

KeyError: 'ID'

In [1]:
a=pandas.read_json("095 supermarkets.json")
a

NameError: name 'pandas' is not defined

In [2]:
import pandas

In [3]:
a=pandas.read_json("095 supermarkets.json")
a

,Address,City,Country,Employees,ID,Name,State
0,3666 21st St,San Francisco,USA,8,1,Madeira,CA 94114
1,735 Dolores St,San Francisco,USA,15,2,Bready Shop,CA 94119
2,332 Hill St,San Francisco,USA,25,3,Super River,California 94114
3,3995 23rd St,San Francisco,USA,10,4,Ben's Shop,CA 94114
4,1056 Sanchez St,San Francisco,USA,12,5,Sanchez,California
5,551 Alvarado St,San Francisco,USA,20,6,Richvalley,CA 94114

In [1]:
import geopy

In [2]:
from geopy.geocoders import Nominatim

In [4]:
nom= Nominatim(user_agent="first_notebook")

nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [7]:
b=nom.geocode("3995 23rd St, San Francisco, CA 94114")

In [8]:
b

Location(3995, 23rd Street, Noe Valley, SF, California, 94114, USA, (37.7529648, -122.4317141, 0.0))

In [9]:
b.latitude
b.longitude

-122.4317141

In [12]:
import pandas
a=pandas.read_json("095 supermarkets.json")

a["Address"]=a["Address"]+ ","+a["City"]+ "," +a["State"]
a

,Address,City,Country,Employees,ID,Name,State
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114

In [13]:
import geopy

In [17]:
a["longitude"]=a.shape[0]*a["Address"].apply(nom.geocode)

GeocoderTimedOut: Service timed out

In [19]:
a["longitude"]=a["Address"].apply(nom.geocode)

GeocoderTimedOut: Service timed out

In [22]:
a["longitude"]=a["Address"].apply(nom.geocode.longitude)

AttributeError: 'function' object has no attribute 'longitude'

In [21]:
a

,Address,City,Country,Employees,ID,Name,State,longitude
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ..."
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,..."
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [23]:
a

,Address,City,Country,Employees,ID,Name,State,longitude
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ..."
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,..."
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [24]:
a["coordinates"]= a["longitude"]

In [25]:
a

,Address,City,Country,Employees,ID,Name,State,longitude,coordinates
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...","(735, Dolores Street, Liberty Street Historic ..."
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,..."
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [26]:
a.drop("longitude",1)

,Address,City,Country,Employees,ID,Name,State,coordinates
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California..."
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ..."
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,..."
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor..."

In [29]:
a["latitude"]= a["coordinates"].apply(lambda x: x.latitude)

In [30]:
a

,Address,City,Country,Employees,ID,Name,State,longitude,coordinates,latitude
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...","(735, Dolores Street, Liberty Street Historic ...",37.757726
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,...",37.755725
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673

In [31]:
cols = a.columns.tolist()

In [32]:
cols

['Address',
 'City',
 'Country',
 'Employees',
 'ID',
 'Name',
 'State',
 'longitude',
 'coordinates',
 'latitude']

In [33]:
cols = cols[-1:] + cols[:-1]

In [34]:
a

,Address,City,Country,Employees,ID,Name,State,longitude,coordinates,latitude
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...","(735, Dolores Street, Liberty Street Historic ...",37.757726
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,...",37.755725
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673

In [35]:
a[cols]

,latitude,Address,City,Country,Employees,ID,Name,State,longitude,coordinates
0,37.756489,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California..."
1,37.757726,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...","(735, Dolores Street, Liberty Street Historic ..."
2,37.755725,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,..."
3,37.752965,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California..."
4,37.752146,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor..."
5,37.753673,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor..."

In [36]:
cols = cols[-2:] + cols[:-2]
a[cols]

,longitude,coordinates,latitude,Address,City,Country,Employees,ID,Name,State
0,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California...",37.756489,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114
1,"(735, Dolores Street, Liberty Street Historic ...","(735, Dolores Street, Liberty Street Historic ...",37.757726,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119
2,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,...",37.755725,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114
3,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114
4,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California
5,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114

In [37]:
cols = cols[-3:] + cols[:-3]
a[cols]

,ID,Name,State,longitude,coordinates,latitude,Address,City,Country,Employees
0,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","(3666, 21st Street, Noe Valley, SF, California...",37.756489,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8
1,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...","(735, Dolores Street, Liberty Street Historic ...",37.757726,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15
2,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...","(332, Hill Street, Noe Valley, SF, California,...",37.755725,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25
3,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","(3995, 23rd Street, Noe Valley, SF, California...",37.752965,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10
4,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12
5,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20

In [38]:
a["longitude"] = a["coordinates"].apply(lambda x: x.longitude)

In [39]:
a

,Address,City,Country,Employees,ID,Name,State,longitude,coordinates,latitude
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,-122.429343,"(3666, 21st Street, Noe Valley, SF, California...",37.756489
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,-122.425529,"(735, Dolores Street, Liberty Street Historic ...",37.757726
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,-122.428601,"(332, Hill Street, Noe Valley, SF, California,...",37.755725
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,-122.431714,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,-122.429815,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,-122.433220,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673

In [41]:
a["landl"]=a["longitude"]

In [42]:
a

,Address,City,Country,Employees,ID,Name,State,longitude,coordinates,latitude,landl
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,-122.429343,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,-122.425529,"(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,-122.428601,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,-122.431714,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,-122.429815,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,-122.433220,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220

In [43]:
a=a.drop("longitude",1)

In [44]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,latitude,landl
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",37.756489,-122.429343
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",37.757726,-122.425529
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",37.755725,-122.428601
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",37.752965,-122.431714
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",37.752146,-122.429815
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",37.753673,-122.433220

In [45]:
a["landl"]=a["latitude"]+","+a["landl"]
a=a.drop("latitude",1)
a

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')

In [46]:
a["landl"]=a["latitude"]+","+a["landl"]

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')

In [51]:
import pandas
a["latitude"]=str(a["latitude"])+ "," + str(a["landl"])

In [52]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,latitude,landl
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",0 37.756489\n1 37.757726\n2 37.755725...,-122.429343
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",0 37.756489\n1 37.757726\n2 37.755725...,-122.425529
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",0 37.756489\n1 37.757726\n2 37.755725...,-122.428601
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",0 37.756489\n1 37.757726\n2 37.755725...,-122.431714
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",0 37.756489\n1 37.757726\n2 37.755725...,-122.429815
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",0 37.756489\n1 37.757726\n2 37.755725...,-122.433220

In [53]:
a=a.drop("latitude",1)

In [54]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,landl
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",-122.429343
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",-122.425529
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",-122.428601
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",-122.431714
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220

In [56]:
type(a["landl"])

pandas.core.series.Series

In [57]:
type(",")

str

In [58]:
type(a["Address"])

pandas.core.series.Series

In [59]:
a["latitude"]=a["coordinates"].apply(lambda x: x.latitude)

In [60]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,landl,latitude
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",-122.429343,37.756489
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",-122.425529,37.757726
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",-122.428601,37.755725
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",-122.431714,37.752965
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815,37.752146
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220,37.753673

In [61]:
a["latitude"]=a["latitude"]+ a["landl"]

In [62]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,landl,latitude
0,"3666 21st St,San Francisco,CA 94114",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",-122.429343,-84.672854
1,"735 Dolores St,San Francisco,CA 94119",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",-122.425529,-84.667804
2,"332 Hill St,San Francisco,California 94114",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",-122.428601,-84.672876
3,"3995 23rd St,San Francisco,CA 94114",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",-122.431714,-84.678749
4,"1056 Sanchez St,San Francisco,California",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815,-84.677669
5,"551 Alvarado St,San Francisco,CA 94114",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220,-84.679547

In [63]:
a["latitude"]=a["latitude"]+ "," +a["Address"]

TypeError: ufunc 'add' did not contain a loop with signature matching types dtype('<U32') dtype('<U32') dtype('<U32')

In [64]:
a["Address"]=a["Address"]+"," +a["City"]

In [65]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,landl,latitude
0,"3666 21st St,San Francisco,CA 94114,San Francisco",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",-122.429343,-84.672854
1,"735 Dolores St,San Francisco,CA 94119,San Fran...",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",-122.425529,-84.667804
2,"332 Hill St,San Francisco,California 94114,San...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",-122.428601,-84.672876
3,"3995 23rd St,San Francisco,CA 94114,San Francisco",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",-122.431714,-84.678749
4,"1056 Sanchez St,San Francisco,California,San F...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815,-84.677669
5,"551 Alvarado St,San Francisco,CA 94114,San Fra...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220,-84.679547

In [67]:
a=a.drop("latitude",1)

In [69]:
a["latitude"]=a["coordinates"].apply(lambda x: x.latitude)

In [70]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,landl,latitude
0,"3666 21st St,San Francisco,CA 94114,San Francisco",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",-122.429343,37.756489
1,"735 Dolores St,San Francisco,CA 94119,San Fran...",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",-122.425529,37.757726
2,"332 Hill St,San Francisco,California 94114,San...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",-122.428601,37.755725
3,"3995 23rd St,San Francisco,CA 94114,San Francisco",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",-122.431714,37.752965
4,"1056 Sanchez St,San Francisco,California,San F...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815,37.752146
5,"551 Alvarado St,San Francisco,CA 94114,San Fra...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220,37.753673

In [75]:
a['latitude'] = a["latitude"].map(str) + " , " + a["landl"].map(str)

In [73]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,landl,latitude
0,"3666 21st St,San Francisco,CA 94114,San Francisco",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",-122.429343,37.756488877551 is -122.429343346939
1,"735 Dolores St,San Francisco,CA 94119,San Fran...",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",-122.425529,37.7577257083333 is -122.425529333333
2,"332 Hill St,San Francisco,California 94114,San...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",-122.428601,37.755725122449 is -122.428601306122
3,"3995 23rd St,San Francisco,CA 94114,San Francisco",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",-122.431714,37.7529648 is -122.4317141
4,"1056 Sanchez St,San Francisco,California,San F...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815,37.7521458 is -122.42981516
5,"551 Alvarado St,San Francisco,CA 94114,San Fra...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220,37.7536733265306 is -122.433219959184

In [76]:
a['latitude'] = a["latitude"].map(str) + " , " + a["landl"].map(str)

In [78]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,landl,latitude
0,"3666 21st St,San Francisco,CA 94114,San Francisco",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...",-122.429343,"37.756488877551 is -122.429343346939 , -122.42..."
1,"735 Dolores St,San Francisco,CA 94119,San Fran...",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...",-122.425529,"37.7577257083333 is -122.425529333333 , -122.4..."
2,"332 Hill St,San Francisco,California 94114,San...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...",-122.428601,"37.755725122449 is -122.428601306122 , -122.42..."
3,"3995 23rd St,San Francisco,CA 94114,San Francisco",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...",-122.431714,"37.7529648 is -122.4317141 , -122.4317141 , -1..."
4,"1056 Sanchez St,San Francisco,California,San F...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...",-122.429815,"37.7521458 is -122.42981516 , -122.42981516 , ..."
5,"551 Alvarado St,San Francisco,CA 94114,San Fra...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...",-122.433220,"37.7536733265306 is -122.433219959184 , -122.4..."

In [79]:
a=a.drop("latitude",1)

In [80]:
a["latitude"]=a["coordinates"].apply(lambda x: x.latitude)

In [82]:
a["latitude"]=a["latitude"].map(str) +","+a["landl"].map(str)

In [83]:
a=a.drop("landl",1)

In [84]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,latitude
0,"3666 21st St,San Francisco,CA 94114,San Francisco",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","37.756488877551,-122.429343346939"
1,"735 Dolores St,San Francisco,CA 94119,San Fran...",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...","37.7577257083333,-122.425529333333"
2,"332 Hill St,San Francisco,California 94114,San...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...","37.755725122449,-122.428601306122"
3,"3995 23rd St,San Francisco,CA 94114,San Francisco",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","37.7529648,-122.4317141"
4,"1056 Sanchez St,San Francisco,California,San F...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","37.7521458,-122.42981516"
5,"551 Alvarado St,San Francisco,CA 94114,San Fra...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","37.7536733265306,-122.433219959184"

In [85]:
nom_rev=Nominatim(user_agent="first_notebook")

In [87]:
x_rev=nom_rev.reverse("37.756488877551,-122.429343346939")

In [88]:
x_rev

Location(801, Sanchez Street, Noe Valley, SF, California, 94114, USA, (37.7561368, -122.4299481, 0.0))

In [89]:
a["ADD"]=a["latitude"].apply(nom_rev.reverse)

GeocoderTimedOut: Service timed out

In [ ]:
a

In [94]:
a["ADD"]=a["latitude"].apply(nom_rev.reverse)

In [95]:
a

,Address,City,Country,Employees,ID,Name,State,coordinates,latitude,ADD
0,"3666 21st St,San Francisco,CA 94114,San Francisco",San Francisco,USA,8,1,Madeira,CA 94114,"(3666, 21st Street, Noe Valley, SF, California...","37.756488877551,-122.429343346939","(801, Sanchez Street, Noe Valley, SF, Californ..."
1,"735 Dolores St,San Francisco,CA 94119,San Fran...",San Francisco,USA,15,2,Bready Shop,CA 94119,"(735, Dolores Street, Liberty Street Historic ...","37.7577257083333,-122.425529333333","(735, Dolores Street, Liberty Street Historic ..."
2,"332 Hill St,San Francisco,California 94114,San...",San Francisco,USA,25,3,Super River,California 94114,"(332, Hill Street, Noe Valley, SF, California,...","37.755725122449,-122.428601306122","(941, Church Street, Noe Valley, SF, Californi..."
3,"3995 23rd St,San Francisco,CA 94114,San Francisco",San Francisco,USA,10,4,Ben's Shop,CA 94114,"(3995, 23rd Street, Noe Valley, SF, California...","37.7529648,-122.4317141","(3995, 23rd Street, Noe Valley, SF, California..."
4,"1056 Sanchez St,San Francisco,California,San F...",San Francisco,USA,12,5,Sanchez,California,"(1056, Sanchez Street, Noe Valley, SF, Califor...","37.7521458,-122.42981516","(Noe Valley Ministry, 1021, Sanchez Street, No..."
5,"551 Alvarado St,San Francisco,CA 94114,San Fra...",San Francisco,USA,20,6,Richvalley,CA 94114,"(551, Alvarado Street, Noe Valley, SF, Califor...","37.7536733265306,-122.433219959184","(948, Noe Street, Noe Valley, SF, California, ..."